/* google font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
/* variables */
@import './variables.scss';

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

/* container */
.container {
    max-width: $sizeContainer;
    margin: 0 auto;
    padding: 0 15px;
}
.reset-padding{
    padding: 0;
}

/* background and width section */
header,
.content,
.digital,
.footer-up,
.footer-down{
    width: 100%;
}
header{
    background-color: #fff;
}
.content{
    background-color: #1c1c1c;
}
.digital{
    background-color: $mainColor;
}

.footer-down{
    background-color: #303030;
}






